[submodule "functions"]
	path = functions
	url = git@gitlab.com:Anton.Latukha/fish-functions.git
[submodule "externalModules/LS_COLORS"]
	path = externalModules/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "oh-my-fish"]
	path = externalModules/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
